---
layout: compress
---

{% include head.html %}

        {% include header.html %}

        <h2>{{ page.title }}</h2>

<hr>
        {{ page.content }}
    <main>

        {% for post in site.posts %}
            <article class="x1MBX">
                <h3 class="texto"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                <h4>{{ post.tagline }}</h4>
                <!--span class="mini-note">{{ post.date | date: "%b %-d, %Y" }}</span-->
            </article>
        {% endfor %}

    </main>

    {% include footer.html %}

</body>
</html>
